<h2><%= @doctor.name %></h2>
<p><%= @doctor.department %></p>

<% @doctor.appointments.each do |appt| %>
  <% @doctor_patient = @doctor.patients.find(appt.patient_id) %>
  <%= link_to @doctor_patient.name, patient_path(@doctor_patient) %> - <%= link_to appt.appointment_datetime.strftime("%B %d, %Y at %k:%M"), appointment_path(appt) %><br>
<% end %>